.container {
  border: 1px solid var(--gray-alpha-200);
  border-radius: 8px;
  padding: 24px;
  background-color: var(--gray-alpha-100);
  text-align: center;
  margin-top: 32px;
}

.loadingInfo {
  margin: 16px 0;
  text-align: center;
  color: #666;
  font-style: italic;
}

.updateInfo {
  margin-top: 8px;
  margin-bottom: 16px;
  color: #666;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}

.error {
  margin-top: 16px;
  color: #e53e3e;
}
